.about{
    padding: 100px 0;
    background-color: #D4B369;
    background-image: url('../../images/foodbg.png');
    background-repeat:inherit;
    background-position: center;

 
}
.about__wrapper{
    width: 100%;
    padding: 40px;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 16px;
}
.about__content__img{

}
.about__title{
    margin-bottom: 40px;
}
.about__text{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color:  #111 ;
    margin: 0;
    margin-bottom: 40px;

}
.about__content{
    width: 100%;
    max-width: 600px;
   

}
.about__content__img{
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about__img{
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 6px 0px, rgba(0, 0, 0, 0.1) 0px 8px 8px 0px, rgba(0, 0, 0, 0.1) 0px 16px 16px 0px, rgba(0, 0, 0, 0.15) 8px 32px 32px 0px, rgba(0, 0, 0, 0.15) 8px 64px 64px 0px;
}


@media only screen and (max-width: 600px){
    .about{
        padding: 70px 0;
    }
    .about__wrapper{
        padding: 30px 20px;
    }
    .about__wrapper{
        flex-direction: column;
    }
    .about__title{
        font-size: 22px;
    }
    .about__text{
        font-size: 14px;
    }
}