.menu{
    background-color: #27262D;
}
.menu__inner{
    padding: 50px 0;
}

.menu__title{
    margin: 0;
    font-weight: bold;
    font-size: 54px;
    line-height: 120%;
    color: #FFF;
    margin: 0;
    margin-bottom: 50px;
}

.menu__list{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.menu__item{
    width: 100%;
    max-width: 400px;
    border-radius: 18px;
    padding: 10px;
    background-color:#D4B369 ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 16px 0px;
    margin-bottom: 30px;
    transition: 0.4s ease;
}
.menu__item:hover{
    box-shadow: rgba(248, 248, 249, 0.3) 0px 4px 16px 0px, rgba(255, 255, 255, 0.3) 0px 8px 32px 0px;
}
.meanu__item__img{
    width: 100%;
    max-width: 150px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.menu__item__wrapper{
    width: 100%;
    max-width: 210px;
    
}
.menu__item__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #27262D;
    margin: 0;
    margin-bottom: 40px;
    
}
.menu__item__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #27262D;
    margin-top: 20px;

}