.menu{
    background-color: #27262D;
    border-radius: 50px;
    background-image: url('../../images/blacbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu__inner{
    padding: 50px 0;
}

.menu__title{
    margin: 0;
    font-weight: bold;
    font-size: 54px;
    line-height: 120%;
    color: #FFF;
    margin: 0;
    margin-bottom: 50px;
}

.menu__list{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}
.menu__item__link{
    display: block;
}
.menu__item{
    width: 100%;
    max-width: 400px;
    border-radius: 18px;
    padding: 10px;
    background-color:#fff ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: #ffffff4d 0px 0px 16px 0px;
    margin-bottom: 30px;
    transition: 0.3s ease;
}
.menu__item:hover{
    box-shadow: rgba(248, 248, 249, 0.3) 0px 4px 15px 8px, rgba(255, 255, 255, 0.3) 0px 8px 32px 0px;
}

.meanu__item__img{
    width: 100%;
    max-width: 150px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.menu__item__wrapper{
    width: 100%;
    max-width: 210px;
    
    
}
.menu__item__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #27262D;
    margin: 0;
    margin-bottom: 40px;
    text-decoration: none ;
    transition: 0.1s ease-out   ;
    
    
}
.menu__item__title:hover{
    border-bottom: 4px solid #D4B369;
    padding-bottom: 5px;
}
.menu__item__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #27262D;
    margin-top: 20px;

}

.menu__subtitle{
    margin: 0;
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #FFF;
    margin: 0;
    margin-bottom: 50px;
}
.menu__sublist{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 80px;
}
.menu__subitem{
    background-color: #fff;
    width: 100%;
    max-width: 250px;
    border-radius: 18px;
    border: 0px solid #fff;
    transition: 0.3s ease;
}
.menu__subitem:hover{
    box-shadow: rgba(248, 248, 249, 0.3) 0px 4px 15px 8px, rgba(255, 255, 255, 0.3) 0px 8px 32px 0px;
}


.menu__icon__link{
    margin: 0 auto;
}
.menu__icon{
    filter: grayscale(100%);
    display: block;
    width: 100%;
    margin: 0 auto;
    transition: 0.4s ease;
}
.menu__icon:hover{
    filter: grayscale(0%);

}

.menu__comment{
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 120%;
    color: #FFF;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 20px;
}
